<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{activations}}</h1><br>
    <h1>{{neurons}}</h1><br>
    <h1>{{loss_function}}</h1><br>
    <h1>{{optimizer_function}}</h1><br>
    <h1>{{file_name}}</h1><br>
    <h1>{{number_layers}}</h1><br>
    <h1>{{Target}}</h1><br>
    <h1>{{r2}}</h1><br>
    <h1>{{test_loss}}</h1><br>
    <h1>{{summary}}</h1><br>
</body>
</html>